@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');.App {
  text-align: center;
}
#root {
  font-family: 'Quicksand', sans-serif;

}

.myDetails {
  margin:30px;
}
.App {
  background-image: url('./images/qingbao-meng-01_igFr7hd4-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  height: 690px;
}

.map {
border:2px;
height: 300px;
border-color: #000000;}

.container{
height: 342px;
display: flex;
flex-direction: row;
justify-content: center;
align-item: center;
gap: 50px;
}

.countryDetails {
background: #FFFFFF;
padding:30px;
text-align: left;
color: #277fca;
font-family: Inconsolata, sans serif;
font-weight: 400;
}

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-item: center;
  list-style-type: none;
  background: rgba(255,255,255, 0.7);
  margin-bottom: 50px;
  font-family: 'Nanum Gothic', sans-serif;  
  font-weight: 400;
  font-size: 1.5rem;
  }

  .headerList {
  color: #277fca;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 100px;
  }

  .logo{
    height:80px;
    width:80px;
    margin-right:250px;
    margin-top:10px;
    margin-left:50px;
  }

  footer {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255, 0.7);
    font-family: 'Nanum Gothic', sans-serif;    
    font-weight: 400;
    font-size: 1.3rem;  
    color: #277fca;
    margin-top: 50px;
  }

  .footerListElements {
    list-style-type: none;
    padding:10px;
    margin-left:50px;
  }

 
.my-social-icon {
  color: #277fca;
  margin: 5px;
}

  .date {
    font-size: 0.8rem; 
    padding-left: 150px; 

  } 
